h4 {
    background-color: brown;
    padding: 100px 150px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    max-width: 1200px;
    padding: 0px 20px;
    margin: 0 auto;
    box-sizing: border-box;
}

